@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.link {
  display: inline-block;
  font-weight: font-weight("semibold");
  font-size: font-size("h2");
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: $color-primary;

  &:hover {
    color: $color-primary-light;
    text-decoration: none;
  }
}
