@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.social {
  @include flex($gap: spacing("xxxl"), $justify: center);

  &__item {
    position: relative;

    &:nth-child(n + 2)::after {
      content: "";
      position: absolute;
      right: 54px;
      @include size(1px, 24px);
      background-color: $color-text-secondary;
    }
  }

  &__icon {
    @include size(24px);
    fill: $color-text;
    @include transition(fill);
  }

  &_white {
    .social__icon {
      fill: $color-white;
    }
  }

  &_start {
    justify-content: left;
  } 
}



@each $platform,
  $color
    in (
      facebook: $color-facebook,
      youtube: $color-youtube,
      twitter: $color-twitter,
      instagram: $color-instagram
    )
{
  .social__icon_#{$platform}:hover {
    fill: $color;
  }
}
