@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.status {
  @include flex($justify: center, $gap: spacing("md"));

  &__item {
    @include flex($direction: column, $align: center);
    min-width: 98px;
    padding: spacing("sm") spacing("xs");
    border-radius: 5px;
    background-color: $color-primary;
    color: $color-white;
    @include card-shadow;

    &:hover {
      @include hover {
        transform: translateY(-2px);
      }
    }
  }

  &__icon {
    @include size(18px);
    fill: $color-white;
  }

  &__number {
    margin-top: spacing("xs");
    @include text-style(font-size("h2"), font-weight("semibold"));
  }

  &__text {
    @include text-style(font-size("base"));
    text-align: center;
  }
}
