@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.app {
  @include section-padding;

  & {
    background-image: url("/desktop-3.png");
    background-size: cover;
    color: $color-white;
  }

  &__title {
    @include section-title;
  }

  &__description {
    @include section-description;
  }

  &__container {
    display: grid;
    row-gap: spacing("xl");
    grid-template-areas:
      "comment"
      "browser"
      "vector"
      "img"
      "phone"
      "scanner"
      "telemarketer";
    margin-top: spacing("l");

    @include respond-to("md") {
      column-gap: spacing("md");
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "comment comment comment"
        "browser img phone"
        "vector img scanner"
        "telemarketer telemarketer telemarketer";
      margin-top: spacing("xxxl");
    }

    @include respond-to("xl") {
      gap: spacing("xxxl");
    }
  }

  &__item {
    @include flex($direction: column, $align: center, $justify: center);

    &-title {
      max-width: 270px;
      margin-top: spacing("l");
      font-weight: 600;
      font-size: font-size("h2");
      line-height: 1.5;
      text-align: center;
      text-transform: uppercase;
    }

    &-description {
      margin-top: spacing("md");
      max-width: 225px;
      font-size: font-size("base");
      line-height: 1.5;
      text-align: center;
    }

    &_left {
      @include respond-to("md") {
        align-items: flex-start;

        .app__item-title,
        .app__item-description {
          text-align: left;
        }
      }
    }

    &_right {
      @include respond-to("md") {
        align-items: flex-end;

        .app__item-title,
        .app__item-description {
          text-align: right;
        }
      }
    }

    &_browser {
      grid-area: browser;
    }

    &_comment {
      grid-area: comment;
    }

    &_vector {
      grid-area: vector;
    }

    &_phone {
      grid-area: phone;
    }

    &_scanner {
      grid-area: scanner;
    }

    &_telemarketer {
      grid-area: telemarketer;
    }
  }

  &_icon {
    width: 50px;
    height: 50px;
    fill: $color-white;
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: 40px;

    &-container {
      padding: 0 80px;
      grid-area: img;

      @include respond-to("md") {
        padding: 0;
      }
    }
  }

  &__content {
    margin-top: spacing("xl");
  }

  &__platforms {
    margin-top: spacing("md");
  }
}
