@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.blog {
  @include section-padding;

  &__title {
    @include section-title;
  }

  &__description {
    @include section-description;

    & {
      color: $color-text-secondary;
    }
  }

  &__cards {
    margin-top: spacing("xl");

    @include respond-to("xl") {
      margin-top: spacing("xxxl");
    }
  }
}
