@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.feedback {
  @include section-padding;

  & {
    background-image: url("/desktop-3.png");
    background-size: cover;
  }

  &__title {
    @include section-title;

    & {
      color: $color-white;
    }
  }

  &__description {
    @include section-description;

    & {
      color: $color-white;
    }
  }

  &__swiper {
    margin-top: spacing("xl");

    @include respond-to("md") {
      @include container;

      margin-top: spacing("l");
    }
  }
}
