@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.footer {
  padding-top: spacing("xxxl");
  padding-bottom: spacing("md");
  background-color: $color-primary-dark;
  color: $color-white;

  @include respond-to("xl") {
    padding-top: 120px;
  }

  &__container {
    display: grid;
    gap: spacing("xxxl") 0;

    @include respond-to("md") {
      grid-template-columns: repeat(3, 1fr);
      column-gap: spacing("lg");
      align-items: end;
    }

    @include respond-to("xl") {
      column-gap: spacing("xxxl");
    }
  }

  &__logo {
    font-weight: font-weight("bold");
    font-size: font-size("xl");
    text-transform: uppercase;
  }

  &__text {
    margin-top: spacing("xs");

    @include respond-to("md") {
      margin-top: 12px;
    }
  }

  &__socials {
    margin-top: spacing("l");
    --gap: 40px;
  }

  &__title {
    @include section-title;

    & {
      text-align: left;
    }

    @include respond-to("md") {
      font-weight: font-weight("semibold");
      font-size: font-size("h2");
    }
  }

  &__links {
    margin-top: spacing("md");

    & > :nth-child(n + 2) {
      margin-top: spacing("md");
    }

    @include respond-to("md") {
      margin-top: 12px;

      & > :nth-child(n + 2) {
        margin-top: 12px;
      }
    }
  }

  &__form {
    position: relative;
    margin-top: spacing("xxl");

    @include respond-to("md") {
      margin-top: spacing("l");
    }
  }

  &__input {
    padding: 13px spacing("xxl") 13px spacing("md");
    border-radius: 4px;
    border: none;
    width: 100%;
    font-size: font-size("base");
    line-height: line-height("base");
  }

  &__button {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 12px 14px;
    @include flex($align: center, $justify: center);
  }

  &__icon-button {
    @include size(18px, 21px);
    fill: $color-white;
  }

  &__content {
    &_divider {
      border-top: 1px solid $color-white;
    }

    &_copyright {
      @include respond-to("md") {
        grid-column: 1 / 4;
      }
    }
  }

  &__copyright {
    @include flex($justify: center, $align: center);
    margin-top: spacing("md");

    & > :nth-child(n + 2) {
      margin-left: spacing("md");
    }
  }

  &__icon-copyright {
    @include size(16px, 16px);
    fill: $color-white;
  }
}
