@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.hero-section {
  padding: spacing("xl") 0 120px;
  background-image: url("/desktop-3.png");
  background-size: cover;

  @include respond-to("md") {
    padding: spacing("lg") 0 260px;
  }

  @include respond-to("xl") {
    padding: spacing("l") 0 80px;
  }

  &__wrap {
    margin-top: 110px;

    @include respond-to("md") {
      @include flex($align: center);
      margin-top: 236px;
    }

    @include respond-to("xl") {
      margin-top: 80px;
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__container {
    position: relative;
    margin-left: spacing("md");
    margin-right: spacing("xl");
    z-index: 1;

    @include respond-to("md") {
      min-width: 356px;
      margin-left: spacing("xl");
      margin-top: spacing("xxxl");
    }

    @include respond-to("xl") {
      margin-left: 0;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -20px;
      right: -20px;
      width: 100%;
      height: calc(100% + 40px);
      border: 10px solid #7572ff;
      z-index: -1;

      @include respond-to("md") {
        border-width: 20px;
        top: -36px;
        right: -36px;
        height: calc(100% + 70px);
      }
    }
  }

  &__content {
    padding: 30px spacing("md");
    background-color: $color-white;
    margin-top: spacing("xl");

    @include respond-to("md") {
      margin-top: 0;
      padding: 14px spacing("md");
    }

    @include respond-to("xl") {
      padding: spacing("xl") spacing("lg");
    }
  }

  &__caption {
    margin-top: spacing("l");
    font-weight: font-weight("semibold");
    font-size: font-size("h2");
    text-transform: uppercase;

    @include respond-to("md") {
      margin-top: spacing("lg");
    }

    @include respond-to("xl") {
      margin-top: spacing("xxl");
    }
  }

  &__buttons {
    margin-top: spacing("md");
    justify-content: flex-start;
  }

  &__image-container {
    margin-top: spacing("xxl");
    overflow: hidden;

    @include respond-to("md") {
      margin-top: 0;
    }

    @include respond-to("xl") {
      overflow: visible;
    }
  }

  &__image {
    width: 100%;
    transform: translateX(20%);

    @include respond-to("xl") {
      transform: translateX(25%);
    }
  }

  &__info {
    display: none;
    color: $color-white;

    @include respond-to("md") {
      @include flex($justify: space-between);
      margin-bottom: spacing("l");
    }

    @include respond-to("xl") {
      margin-bottom: spacing("md");
    }
  }

  &__contacts {
    @include flex();

    > :nth-child(n + 2) {
      margin-left: spacing("xxl");
    }
  }

  &__contact {
    @include flex($align: center);

    > :nth-child(n + 2) {
      margin-left: spacing("md");
    }
  }

  &__icon-contact {
    @include size(15px, 14px);
    fill: $color-white;
  }

  &__title {
    font-weight: font-weight("semibold");
    font-size: font-size("h1");
    line-height: line-height("base");
    text-transform: uppercase;
    color: $color-primary;

    @include respond-to("md") {
      font-weight: font-weight("bold");
    }

    @include respond-to("xl") {
      font-size: 48px;
    }
  }

  &__description {
    margin-top: spacing("md");
    font-size: font-size("base");
    line-height: line-height("base");
    color: $color-text-secondary;
  }
}
