@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.team {
  @include section-padding;

  &__title {
    @include section-title;
  }

  &__description {
    @include section-description;

    & {
      color: $color-text-secondary;
    }
  }

  &__container {
    @include grid($gap: spacing("xl"));
    margin-top: spacing("xl");

    @include respond-to("md") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to("lg") {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__cards {
    margin-top: spacing("xl");

    @include respond-to("md") {
      margin-top: spacing("l");
    }

    @include respond-to("xl") {
      margin-top: spacing("xxxl");
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
