@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.use-app {
  @include section-padding;

  & {
    padding-bottom: 0;
    background-color: $color-primary;
    color: $color-white;
  }

  &__title {
    @include section-title;
  }

  &__description {
    @include section-description;
  }

  &__container {
    margin-top: spacing("xl");
    background: linear-gradient(180deg, $color-primary 50%, $color-white 50%);

    @include respond-to("xl") {
      margin-top: spacing("xxxl");
    }
  }

  &__video {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  &__wrap {
    position: relative;
    overflow: hidden;
    height: 150px;
    border-radius: 10px;

    @include respond-to("md") {
      height: 230px;
    }

    @include respond-to("xl") {
      height: 320px;
    }

    &:hover {
      box-shadow: 0 10px 100px 0 rgba($color-black, 0.3);
    }

    &::after {
      content: "";
      @include position(absolute, 0, 0, 0, 0);
      background: rgba($color-primary, 0.4);
    }
  }

  &__icon {
    @include position(absolute, 50%, null, null, 50%);
    transform: translate(-50%, -50%);
    @include size(18px);
    fill: $color-primary;
    z-index: z-index("video-icon");
  }

  &__mask {
    @include position(absolute, 50%, null, null, 50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: z-index("video-mask");

    &_1 {
      @include size(50px);
      background: rgba($color-white, 1);
    }

    &_2 {
      @include size(60px);
      background: rgba($color-white, 0.7);
    }

    &_3 {
      @include size(70px);
      background: rgba($color-white, 0.6);
    }
  }
}
