@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "abstracts/functions" as *;

@use "base/reset";
@use "base/typography";

@use "utils/utilities";

@use "components/buttons";
@use "components/menu";
@use "components/plates";
@use "components/social";
@use "components/cards";
@use "components/slider";
@use "components/status";
@use "components/link";

@use "layout/header";
@use "layout/hero";
@use "layout/about";
@use "layout/app";
@use "layout/screenshot";
@use "layout/team";
@use "layout/use-app";
@use "layout/feedback";
@use "layout/blog";
@use "layout/contact";
@use "layout/footer";

.container {
 @include container;

  &_top {
    margin-top: spacing("xxl");

    @include respond-to("md") {
      margin-top: 120px;
    }
  }

  &_sm {
    max-width: 770px;
  }
}
